{
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
    "env": {
        "browser": true
    },
    "globals": {
        "pwsL10n": "readonly",
        "user_account_management_rest": "readonly"
    }
  }
  